<!-- TODO: Move inline styles to classes -->
<div class="select-box-wrapper">
  <input class="form-control"
         id="autocomplete"
         [(ngModel)]="textEntered"
         [placeholder]="placeholder"
         (keyup)="filterList($event)">
  <ul class="list-group"
      *ngIf="showFilteredList">
    <li class="list-group-item list-group-item-action"
        *ngFor="let item of filteredList; let i=index;"
        (click)="selectItem(i)"
        [innerHtml]="formattedItem(item)">
    </li>
  </ul>
</div>
